# DATA FRAMES

In [2]:
import pandas as pd
import numpy as np
import glob as glob

Creamos un data freame a partir de un diccionario

In [2]:
datos = {
    "nombre":["N/A","david","julian"],
    "calificaciones":[100,95,80],
     "deportes":["futbol","N/A","basket"],
     "materias":["ingles","metodos",np.nan]
        }
df = pd.DataFrame(datos) # contructor
print(df)

   nombre  calificaciones deportes materias
0     N/A             100   futbol   ingles
1   david              95      N/A  metodos
2  julian              80   basket      NaN

####  con df.info() nos da un resumen de el data frame

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   nombre          3 non-null      object
 1   calificaciones  3 non-null      int64
 2   deportes        3 non-null      object
 3   materias        2 non-null      object
dtypes: int64(1), object(3)
memory usage: 224.0+ bytes

##### Estaditicas basicas
usamos DF.describe()

In [4]:
df.describe()

       calificaciones
count        3.000000
mean        91.666667
std         10.408330
min         80.000000
25%         87.500000
50%         95.000000
75%         97.500000
max        100.000000

### Remplazar valores viejos con nuevos
con df.replace("valor_antiguo","valor_nuevo") podemos buscar y reemplasar

In [6]:
pd_remp = pd.DataFrame(df) #copiasmos un data frame en otro
pd_remp = pd_remp.replace("N/A",0)
print(pd_remp)

   nombre  calificaciones deportes materias
0       0             100   futbol   ingles
1   david              95        0  metodos
2  julian              80   basket      NaN

#### Eliminar valores nulos
con df.dropna(how = "any",inplace = True) se eliminan cualquier fila con registros nulos

In [8]:
df_elm = pd.DataFrame(df)
df_elm.dropna(how = "any",inplace = True)
print(df_elm)

  nombre  calificaciones deportes materias
0    N/A             100   futbol   ingles
1  david              95      N/A  metodos

#### Eliminar valores nulos basado en columnas
con df = df_col[pd_col["nombre"] != "N/A"]
df[df["nombre_columna]!= "atributo"] ------> asi se puede elegir los que son distintos a un atributo dado

In [9]:
df_col = pd.DataFrame(df)
df_col = df_col[df_col["nombre"] != "N/A"]
print(df_col)

   nombre  calificaciones deportes materias
1   david              95      N/A  metodos
2  julian              80   basket      NaN

#### Llenar valores nulos con el que uno elija
df.fillna("valor_cambiar", inplace = bool)

In [10]:
df_fill = df.fillna(0)
print(df_fill)

   nombre  calificaciones deportes materias
0     N/A             100   futbol   ingles
1   david              95      N/A  metodos
2  julian              80   basket        0

#### se puede acceder a una columna con ---------> df.nombre_columna

In [11]:
print(df.calificaciones)

0    100
1     95
2     80
Name: calificaciones, dtype: int64

# ESTADISTICAS BASICAS PARA UN ARCHIVO CSV

In [1]:
import pandas as pd
datos = pd.read_csv("datos.csv",encoding="cp1252") #asi se lee un archivo csv
print(datos.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46652 entries, 0 to 46651
Data columns (total 54 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ATP         46652 non-null  int64
 1   Location    46652 non-null  object
 2   Tournament  46652 non-null  object
 3   Date        46652 non-null  object
 4   Series      46652 non-null  object
 5   Court       46652 non-null  object
 6   Surface     46652 non-null  object
 7   Round       46652 non-null  object
 8   Best of     46652 non-null  int64
 9   Winner      46652 non-null  object
 10  Loser       46652 non-null  object
 11  WRank       46637 non-null  object
 12  LRank       46581 non-null  object
 13  W1          46423 non-null  float64
 14  L1          46423 non-null  float64
 15  W2          45962 non-null  float64
 16  L2          45963 non-null  float64
 17  W3          21365 non-null  float64
 18  L3          21365 non-null  float64
 19  W4          4226 non-null   float64
 20  L4          4226 non-null   float64
 21  W5          1617 non-null   float64
 22  L5          1617 non-null   float64
 23  Wsets       46462 non-null  float64
 24  Lsets       46462 non-null  float64
 25  Comment     46652 non-null  object
 26  CBW         17507 non-null  float64
 27  CBL         17507 non-null  float64
 28  GBW         5055 non-null   float64
 29  GBL         5055 non-null   float64
 30  IWW         13358 non-null  float64
 31  IWL         13358 non-null  float64
 32  SBW         5424 non-null   float64
 33  SBL         5424 non-null   float64
 34  B365W       38019 non-null  float64
 35  B365L       38042 non-null  float64
 36  B&WW        1097 non-null   float64
 37  B&WL        1097 non-null   float64
 38  EXW         33799 non-null  float64
 39  EXL         33804 non-null  float64
 40  PSW         31729 non-null  float64
 41  PSL         31729 non-null  float64
 42  WPts        30448 non-null  float64
 43  LPts        30396 non-null  float64
 44  UBW         10672 non-null  float64
 45  UBL         10672 non-null  float64
 46  LBW         23230 non-null  float64
 47  LBL         23239 non-null  float64
 48  SJW         15572 non-null  float64
 49  SJL         15579 non-null  float64
 50  MaxW        17104 non-null  float64
 51  MaxL        17104 non-null  float64
 52  AvgW        17104 non-null  float64
 53  AvgL        17104 non-null  float64
dtypes: float64(40), int64(2), object(12)
memory usage: 19.2+ MB
None

C:\Users\ProBook\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (11,12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

#  ACCEDER A FILAS Y COLUMNAS POR SU POSICION

#### Acceder a filas por su posicion
- df.iloc[inicio:fin] ---------> retorna las filas en el rango inicio a fin
- df.iloc[numero] ------> retorn una serie con el numero de la fila
- df.iloc[[lista_filas],] -------->retorna las filas seleccionadas dentro de la lista
-------------------------

In [2]:
print(datos.iloc[[1,3,5,29],])

    ATP  Location                          Tournament       Date  \
1     1  Adelaide  Australian Hardcourt Championships  3/01/2000
3     1  Adelaide  Australian Hardcourt Championships  3/01/2000
5     1  Adelaide  Australian Hardcourt Championships  3/01/2000
29    1  Adelaide  Australian Hardcourt Championships  3/01/2000

           Series    Court Surface       Round  Best of        Winner  ...  \
1   International  Outdoor    Hard   1st Round        3    Enqvist T.  ...
3   International  Outdoor    Hard   1st Round        3    Federer R.  ...
5   International  Outdoor    Hard   1st Round        3  Gambill J.M.  ...
29  International  Outdoor    Hard  Semifinals        3     Hewitt L.  ...

   UBW UBL LBW  LBL  SJW  SJL  MaxW  MaxL  AvgW  AvgL
1  NaN NaN NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN
3  NaN NaN NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN
5  NaN NaN NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN
29 NaN NaN NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN

[4 rows x 54 columns]

#### Accede a columnas por su posicion
- df.iloc[ _ : _ , _ : _ ] en donde en cada posicion va la fila y columna correspondiente
- df.iloc[[lista_filas],[lista_columnas]] trae las filas y columnas seleccionadas en la lista

In [3]:
print(datos.iloc[:,3:4])

             Date
0       3/01/2000
1       3/01/2000
2       3/01/2000
3       3/01/2000
4       3/01/2000
...           ...
46647  23/09/2016
46648  23/09/2016
46649  24/09/2016
46650  24/09/2016
46651  25/09/2016

[46652 rows x 1 columns]

In [4]:
print(datos.iloc[[1,3,5,29],[1,3,4]])

    Location       Date         Series
1   Adelaide  3/01/2000  International
3   Adelaide  3/01/2000  International
5   Adelaide  3/01/2000  International
29  Adelaide  3/01/2000  International

# ACCEDER A FILAS Y COLUMNAS POR NOMBRE

###  Seleccionar un indice en un data frame
df.set_index("nombre_columna", inplace = True) -----------> configura un indice

In [5]:
datos.set_index("Location", inplace = True)

In [6]:
print(datos.head())

          ATP                          Tournament       Date         Series  \
Location
Adelaide    1  Australian Hardcourt Championships  3/01/2000  International
Adelaide    1  Australian Hardcourt Championships  3/01/2000  International
Adelaide    1  Australian Hardcourt Championships  3/01/2000  International
Adelaide    1  Australian Hardcourt Championships  3/01/2000  International
Adelaide    1  Australian Hardcourt Championships  3/01/2000  International

            Court Surface      Round  Best of       Winner           Loser  \
Location
Adelaide  Outdoor    Hard  1st Round        3   Dosedel S.     Ljubicic I.
Adelaide  Outdoor    Hard  1st Round        3   Enqvist T.      Clement A.
Adelaide  Outdoor    Hard  1st Round        3    Escude N.   Baccanello P.
Adelaide  Outdoor    Hard  1st Round        3   Federer R.  Knippschild J.
Adelaide  Outdoor    Hard  1st Round        3  Fromberg R.   Woodbridge T.

          ... UBW UBL  LBW  LBL  SJW  SJL  MaxW  MaxL  AvgW  AvgL
Location  ...
Adelaide  ... NaN NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN
Adelaide  ... NaN NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN
Adelaide  ... NaN NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN
Adelaide  ... NaN NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN
Adelaide  ... NaN NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN

[5 rows x 53 columns]

### Ubicar filas por su nombre
usando df.loc["nombre_registro"] ----------------> ubica todos los registros en el indice que tengan ese nombre

In [7]:
print(datos.loc["Melbourne"]) # todos los registros que su ubicacion sea en melbourne

           ATP       Tournament        Date      Series    Court Surface  \
Location
Melbourne    6  Australian Open  17/01/2000  Grand Slam  Outdoor    Hard
Melbourne    6  Australian Open  17/01/2000  Grand Slam  Outdoor    Hard
Melbourne    6  Australian Open  17/01/2000  Grand Slam  Outdoor    Hard
Melbourne    6  Australian Open  17/01/2000  Grand Slam  Outdoor    Hard
Melbourne    6  Australian Open  17/01/2000  Grand Slam  Outdoor    Hard
...        ...              ...         ...         ...      ...     ...
Melbourne    6  Australian Open  27/01/2016  Grand Slam  Outdoor    Hard
Melbourne    6  Australian Open  27/01/2016  Grand Slam  Outdoor    Hard
Melbourne    6  Australian Open  28/01/2016  Grand Slam  Outdoor    Hard
Melbourne    6  Australian Open  29/01/2016  Grand Slam  Outdoor    Hard
Melbourne    6  Australian Open  31/01/2016  Grand Slam  Outdoor    Hard

                   Round  Best of       Winner           Loser  ... UBW UBL  \
Location                                                        ...
Melbourne      1st Round        5    Agassi A.       Puerta M.  ... NaN NaN
Melbourne      1st Round        5     Alami K.        Manta L.  ... NaN NaN
Melbourne      1st Round        5     Arazi H.       Alonso J.  ... NaN NaN
Melbourne      1st Round        5   Behrend T.     Meligeni F.  ... NaN NaN
Melbourne      1st Round        5  Bjorkman J.  Stoltenberg J.  ... NaN NaN
...                  ...      ...          ...             ...  ...  ..  ..
Melbourne  Quarterfinals        5    Murray A.       Ferrer D.  ... NaN NaN
Melbourne  Quarterfinals        5    Raonic M.      Monfils G.  ... NaN NaN
Melbourne     Semifinals        5  Djokovic N.      Federer R.  ... NaN NaN
Melbourne     Semifinals        5    Murray A.       Raonic M.  ... NaN NaN
Melbourne      The Final        5  Djokovic N.       Murray A.  ... NaN NaN

            LBW   LBL  SJW  SJL  MaxW  MaxL  AvgW  AvgL
Location
Melbourne   NaN   NaN  NaN  NaN   NaN   NaN   NaN   NaN
Melbourne   NaN   NaN  NaN  NaN   NaN   NaN   NaN   NaN
Melbourne   NaN   NaN  NaN  NaN   NaN   NaN   NaN   NaN
Melbourne   NaN   NaN  NaN  NaN   NaN   NaN   NaN   NaN
Melbourne   NaN   NaN  NaN  NaN   NaN   NaN   NaN   NaN
...         ...   ...  ...  ...   ...   ...   ...   ...
Melbourne  1.17  5.00  NaN  NaN  1.23  5.75  1.18  4.92
Melbourne  1.36  3.25  NaN  NaN  1.39  3.50  1.35  3.22
Melbourne  1.30  3.50  NaN  NaN  1.40  3.75  1.32  3.41
Melbourne  1.33  3.40  NaN  NaN  1.41  3.50  1.36  3.19
Melbourne  1.20  5.00  NaN  NaN  1.22  5.50  1.19  4.92

[2159 rows x 53 columns]

### Busca por nombre de fila y nombre de columna
- datos.loc["nombre_fila","nombre_columna" ] ------> ubica por nombre de regito y columna
- datos.loc[ [ lista_filas ] , [ lista_columnas ] ] ------> ubica por lista de regito y  lista de columnas
- datos.loc[ [ "fila_inicio" : "fila_final" ] , [ "columna_inicio" : "columna_final" ] ]

In [8]:
print(datos.loc[["Atlanta","Melbourne"], "Date":"Round"]) #busca registos con indice atlanta en la columna date

                 Date         Series    Court Surface          Round
Location
Atlanta    10/04/2000  International  Outdoor    Clay      1st Round
Atlanta    10/04/2000  International  Outdoor    Clay      1st Round
Atlanta    10/04/2000  International  Outdoor    Clay      1st Round
Atlanta    10/04/2000  International  Outdoor    Clay      1st Round
Atlanta    10/04/2000  International  Outdoor    Clay      1st Round
...               ...            ...      ...     ...            ...
Melbourne  27/01/2016     Grand Slam  Outdoor    Hard  Quarterfinals
Melbourne  27/01/2016     Grand Slam  Outdoor    Hard  Quarterfinals
Melbourne  28/01/2016     Grand Slam  Outdoor    Hard     Semifinals
Melbourne  29/01/2016     Grand Slam  Outdoor    Hard     Semifinals
Melbourne  31/01/2016     Grand Slam  Outdoor    Hard      The Final

[2410 rows x 5 columns]

# Exportar archivos csv

In [9]:
 datos.reset_index().to_csv("expor.csv", header = True, index = False)

# Busquedas con condicioens OJO
- df.loc[ df["nombre_columna"] == condicion, [lista_columnas] ] )
- df.loc[ df["nombre_columna"].str.endwith("Frase_final") & condicion 2 % ....
- podemos asignar mas de una condicion con el ----> & <-----

In [10]:
#print(datos.loc[datos["Round"] == "Semifinals", ["Date","Winner"]])
print( datos.loc[(datos["Surface"] == "Hard") & (datos["Series"].str.endswith("Slam"))  , ["Series", "Surface"]])

               Series Surface
Location
Melbourne  Grand Slam    Hard
Melbourne  Grand Slam    Hard
Melbourne  Grand Slam    Hard
Melbourne  Grand Slam    Hard
Melbourne  Grand Slam    Hard
...               ...     ...
New York   Grand Slam    Hard
New York   Grand Slam    Hard
New York   Grand Slam    Hard
New York   Grand Slam    Hard
New York   Grand Slam    Hard

[4318 rows x 2 columns]

# Ordenar datos por columnas
df.order_values(by = "nombre_columna", ascending = bool) ---------> ordena vasado en una columna

In [11]:
data = pd.read_csv("DatosYT.csv")
print(data.head())

    id  type        xs        ys        zs
0  500     1  0.413068  0.247238  0.139937
1  384     1  0.509008  0.225649  0.113632
2  391     1  0.596777  0.212693  0.082769
3   91     1  0.554459  0.155958  0.152680
4  396     1  0.678003  0.227263  0.134453

In [12]:
print(data.sort_values( by = "ys", ascending = False))

     id  type        xs        ys        zs
16  189     1  0.155960  0.453291  0.147866
7   572     1  0.398526  0.368158  0.029198
13  137     1  0.573823  0.364810  0.043554
10  612     1  0.486912  0.343823  0.000880
9   710     1  0.431955  0.334981  0.152336
5   183     1  0.263006  0.326260  0.129268
15  566     1  0.700857  0.316037  0.147745
6   199     1  0.355738  0.315005  0.096178
12  737     1  0.529449  0.313131  0.123254
14  108     1  0.618594  0.298632  0.091062
8   563     1  0.449962  0.296985  0.070094
11  754     1  0.541953  0.275987  0.035143
0   500     1  0.413068  0.247238  0.139937
4   396     1  0.678003  0.227263  0.134453
1   384     1  0.509008  0.225649  0.113632
2   391     1  0.596777  0.212693  0.082769
3    91     1  0.554459  0.155958  0.152680

- df.values ---------> retorna un nupyrepresentacion del frame
-  data.columns ---------> retorna una serie con las columnas
-  data.index ---------> retorna una serie con los indices
----------------
- print(pd.DataFrame(np.sort(data.values, axis = 0), index = data.index, columns = data.columns)) ----> orden de todos los elementos

In [15]:
print(pd.DataFrame(np.sort(data.values, axis = 0), index = data.index, columns = data.columns))

       id  type        xs        ys        zs
0    91.0   1.0  0.155960  0.155958  0.000880
1   108.0   1.0  0.263006  0.212693  0.029198
2   137.0   1.0  0.355738  0.225649  0.035143
3   183.0   1.0  0.398526  0.227263  0.043554
4   189.0   1.0  0.413068  0.247238  0.070094
5   199.0   1.0  0.431955  0.275987  0.082769
6   384.0   1.0  0.449962  0.296985  0.091062
7   391.0   1.0  0.486912  0.298632  0.096178
8   396.0   1.0  0.509008  0.313131  0.113632
9   500.0   1.0  0.529449  0.315005  0.123254
10  563.0   1.0  0.541953  0.316037  0.129268
11  566.0   1.0  0.554459  0.326260  0.134453
12  572.0   1.0  0.573823  0.334981  0.139937
13  612.0   1.0  0.596777  0.343823  0.147745
14  710.0   1.0  0.618594  0.364810  0.147866
15  737.0   1.0  0.678003  0.368158  0.152336
16  754.0   1.0  0.700857  0.453291  0.152680

###  OPERACIONES CON CONDICIONES EN COLUMNAS
# Añadri columnas
- df.loc[fila,columna] = valor ---------> podemos crear una nueva columna y añadirle informacion
- df["columna"] = valor ------------> crea nueva columna
- len(df) ---------> retorna el numero de registros

In [21]:
for i in range(1,len(data)): # se hace una suma acumulativa basada en otra columna
    data.loc[i,"zz"] = data.loc[i,"ys"]
data["zzz"] = 3
print(data)

     id  type        xs        ys        zs        zz  zzz
0   500     1  0.413068  0.247238  0.139937       NaN    3
1   384     1  0.509008  0.225649  0.113632  0.225649    3
2   391     1  0.596777  0.212693  0.082769  0.212693    3
3    91     1  0.554459  0.155958  0.152680  0.155958    3
4   396     1  0.678003  0.227263  0.134453  0.227263    3
5   183     1  0.263006  0.326260  0.129268  0.326260    3
6   199     1  0.355738  0.315005  0.096178  0.315005    3
7   572     1  0.398526  0.368158  0.029198  0.368158    3
8   563     1  0.449962  0.296985  0.070094  0.296985    3
9   710     1  0.431955  0.334981  0.152336  0.334981    3
10  612     1  0.486912  0.343823  0.000880  0.343823    3
11  754     1  0.541953  0.275987  0.035143  0.275987    3
12  737     1  0.529449  0.313131  0.123254  0.313131    3
13  137     1  0.573823  0.364810  0.043554  0.364810    3
14  108     1  0.618594  0.298632  0.091062  0.298632    3
15  566     1  0.700857  0.316037  0.147745  0.316037    3
16  189     1  0.155960  0.453291  0.147866  0.453291    3

## Group by

In [32]:
df_pel = pd.DataFrame(pd.read_csv("IMDB-Movie-Data.csv"))
 print(df_pel.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Title               1000 non-null   object
 2   Genre               1000 non-null   object
 3   Description         1000 non-null   object
 4   Director            1000 non-null   object
 5   Actors              1000 non-null   object
 6   Year                1000 non-null   int64
 7   Runtime (Minutes)   1000 non-null   int64
 8   Rating              1000 non-null   float64
 9   Votes               1000 non-null   int64
 10  Revenue (Millions)  872 non-null    float64
 11  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(5)
memory usage: 93.9+ KB
None

#### Optener el maximo de una columan

In [37]:
print(df_pel.groupby(["Genre"])[["Votes"]].sum())

                              Votes
Genre
Action                        17237
Action,Adventure            1003377
Action,Adventure,Biography    97560
Action,Adventure,Comedy     2709033
Action,Adventure,Crime      1201937
...                             ...
Romance,Sci-Fi,Thriller      208632
Sci-Fi                         1453
Sci-Fi,Thriller              170897
Thriller                     305642
Thriller,War                   5926

[207 rows x 1 columns]

#  LEER XLSX

In [22]:
path = r"C:\Users\ProBook\Desktop\Conocimiento\pandas\Tablas evaluación diligenciadas.xlsx"
xsl = pd.ExcelFile(path)

In [23]:
print(xsl.sheet_names) #imprime el nombre de las hojas de calculo

['Planes x evaluador', 'Tabla líderes', 'Evaluadores x líder', 'Evaluadores']

In [24]:
df_xsl = xsl.parse("Evaluadores x líder")
print(df_xsl.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276 entries, 0 to 275
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Conv       276 non-null    int64
 1   Cierre     276 non-null    int64
 2   Evaluador  276 non-null    object
 3   Líder      276 non-null    object
dtypes: int64(2), object(2)
memory usage: 8.8+ KB
None

# Trabajar con Hojas
read_excel( r"path", sheet_name = "nombre_hoja")

In [76]:
path =  r"C:\Users\ProBook\Desktop\TRABAJO\Ajustes a modificaciones\Propuesta\Formularios\1.xlsx"

df_AjustesIniciales = pd.read_excel(path, sheet_name = "AjustesIniciales")
df_IndicadoresGestion = pd.read_excel(path, sheet_name = "Indicadores de gestion")
df_Produccion = pd.read_excel(path, sheet_name = "Produccion") 
df_Mercados = pd.read_excel(path, sheet_name = "Mercados") 
df_Empleados = pd.read_excel(path, sheet_name = "Empleados") 


ID_plan_negocio =  df_AjustesIniciales.iloc[0,0] #obtenermos el id del plan de negocios

# añadimos el id del plan de negocios a cada df
for i in range(len(df_IndicadoresGestion)):
    df_IndicadoresGestion.loc[i,"ID plan de negocio"] = ID_plan_negocio
for i in range(len(df_Produccion)):   
    df_Produccion.loc[i,"ID plan de negocio"] = ID_plan_negocio
for i in range(len(df_Mercados)):   
    df_Mercados.loc[i,"ID plan de negocio"] = ID_plan_negocio
for i in range(len(df_Empleados)):   
    df_Empleados.loc[i,"ID plan de negocio"] = ID_plan_negocio

print(df_Empleados)

  Cargo Cantidad Datos evaluador Datos a ajustar justificacion  \
0     d        d               d               d             d
1     d        d               d               d             d

   ID plan de negocio
0                33.0
1                33.0

## TRABAJAR CON LIBROS DE EXEL

In [3]:
excel_paths =  r"C:\Users\ProBook\Desktop\TRABAJO\Ajustes a modificaciones\Propuesta\Formularios\*.xlsx"
excels_list = []

lista_AjustesIniciales = []
lista_IndicadoresGestion = []
lista_Produccion = []
lista_Mercados = []
lista_Empleados = []

for path in glob.glob(excel_paths):
    # leemos todos los archivos 
    df_AjustesIniciales = pd.read_excel(path, sheet_name = "AjustesIniciales")
    df_IndicadoresGestion = pd.read_excel(path, sheet_name = "Indicadores de gestion")
    df_Produccion = pd.read_excel(path, sheet_name = "Produccion") 
    df_Mercados = pd.read_excel(path, sheet_name = "Mercados") 
    df_Empleados = pd.read_excel(path, sheet_name = "Empleados") 

    ID_plan_negocio =  df_AjustesIniciales.iloc[0,0] #obtenermos el id del plan de negocios

    # añadimos el id del plan de negocios a cada df
    for i in range(len(df_IndicadoresGestion)):
        df_IndicadoresGestion.loc[i,"ID plan de negocio"] = ID_plan_negocio
    for i in range(len(df_Produccion)):   
        df_Produccion.loc[i,"ID plan de negocio"] = ID_plan_negocio
    for i in range(len(df_Mercados)):   
        df_Mercados.loc[i,"ID plan de negocio"] = ID_plan_negocio
    for i in range(len(df_Empleados)):   
        df_Empleados.loc[i,"ID plan de negocio"] = ID_plan_negocio
    
    #añadimos la lista con todos los archivos
    lista_AjustesIniciales.append(df_AjustesIniciales)
    lista_IndicadoresGestion.append(df_IndicadoresGestion)
    lista_Produccion.append(df_Produccion)
    lista_Mercados.append(df_Mercados)
    lista_Empleados.append(df_Empleados)
    
# configuramos los dataframe en uno solo
df_AjustesIniciales = pd.concat(lista_AjustesIniciales, ignore_index = True)
df_IndicadoresGestion = pd.concat(lista_IndicadoresGestion, ignore_index = True)
df_Produccion = pd.concat(lista_Produccion, ignore_index = True)
df_Mercados = pd.concat(lista_Mercados, ignore_index = True)
df_Empleados = pd.concat(lista_Empleados, ignore_index = True)

#guardamos los archivos
grabar = pd.ExcelWriter("resultados.xlsx")

df_AjustesIniciales.to_excel(grabar, "AjustesIniciales")
df_IndicadoresGestion.to_excel(grabar, "Indicadores de gestion")
df_Produccion.to_excel(grabar, "Produccion")
df_Mercados.to_excel(grabar, "Mercados")
df_Empleados.to_excel(grabar, "Empleados")

grabar.save()

### Duplicados
df_nom.duplicated["colum1",colum2"]

#### Pasar de data frame a numpy

## JOIN
df_new = pd.merge( 
- left = df_left,
- right = df_right,
- left_on = "name_col",
- right_on="name_com",
- how = "inner/left",
- suffixes = ("name_col_left", "name_col_right")
)

df_new = pd.merge(left = df_left, right = df_right, left_on = "name_col", right_on="name_com", how = "inner/left")

## Guardar

In [ ]:
grabar = pd.ExcelWriter("Planes_operativos_data3.xlsx")
df_planes.to_excel(grabar, "Planes_operativos")
df_actividades.to_excel(grabar, "Actividades")
grabar.save()